# Introduction

In [ ]:
!python --version

Python 3.11.13

In [ ]:
print("Hello CS506 Class")

Hello CS506"s Class

In [ ]:
msg = "Hello CS506 class!"
print(msg)

Hello CS506 class!

In [ ]:
#****************************************************************
# Variables and print the values
#****************************************************************
# Value assignment
x = 1                       # int
y = 3.14                    # float
name = 'City U @ Seattle'   # str
is_cool = True              # bool

In [ ]:
print("x: = ", x)
# id() function prints the unique identity of an object
print("id of x is ", id(x))
print("Type of x is ", type(x))
print("Address of x is ", hex(id(x)))

x: =  1
id of x is  10757736
Type of x is  <class 'int'>
Address of x is  0xa42668

In [ ]:
print(x.__dir__)

<built-in method __dir__ of int object at 0xa42668>

In [ ]:
print("y = ", y)
# id() function prints the unique identity of an object
print("id of y is ", id(y))
print("Type of y is ", type(y))

y =  3.14
id of y is  139281311195440
Type of y is  <class 'float'>

In [ ]:
print("name=", name)
# id() function prints the unique identity of an object
print("id of name is ", id(name))
print("Type of name is ", type(name))

name= City U @ Seattle
id of name is  138169706636240
Type of name is  <class 'str'>

In [ ]:
print("is_cool = ", is_cool)
# id() function prints the unique identity of an object
print("id of is_cool is ", id(is_cool))
print("Type of is_cool is ", type(is_cool))

is_cool =  True
id of is_cool is  94042455495712
Type of is_cool is  <class 'bool'>

In [ ]:
# Assign binary value to the variable
# assign number as binary
# prefix 0b
num1 = 0b111101
print("binary value = ", bin(num1))
print("value of num1: ", num1)
num2 = 0b110101
print("value = ", bin(num2))

print(0b10) # binary
print(0o10) # octal
print(0x10) # hexadecimal

binary value =  0b111101
value of num1:  61
value =  0b110101
2
8
16

In [ ]:
# Multiple assignment
x, y, name, is_cool = (1, 3.14, 'City U @ Seattle', True)


# print the values of each variable
print(x)
print(name)

1
City U @ Seattle

In [ ]:
x, y, name  = (1, 3.14, 'City U @ Seattle', True) # Error!

ValueError: too many values to unpack (expected 3)

In [ ]:
x, y, name, _ = (1, 3.14, 'City U @ Seattle', True)
# print the values of each variable
print(x)
print(name)

1
City U @ Seattle

In [ ]:
type(x)

int

In [ ]:
str = "kiran"
print(str)

kiran

In [ ]:

# Type conversion (casting)
x = __builtins__.str(x)
#x = str(x)
print(type(x))          # getting the type information of variables

<class 'str'>

In [ ]:
x

'1'

In [ ]:
y = int(y)
print(type(y))          # type conversion

z = float(y)
print(type(z))
print(z)

<class 'int'>
<class 'float'>
3.0

In [ ]:
int(3.14)

3

In [ ]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [ ]:
int("test")

ValueError: invalid literal for int() with base 10: 'test'

In [ ]:
float(3)

3.0

In [ ]:
float("3.14")

3.14

In [ ]:
float("test")

ValueError: could not convert string to float: 'test'

In [ ]:
del str

In [ ]:
str(3.14)

'3.14'

In [ ]:
str(124_243)

'124243'

In [ ]:
a = 'City'
b = 'University'
(a + ' ' + b)

'City University'

In [ ]:
('a' + 'b') * 5

'ababababab'

In [ ]:
(a + ' ' + b + ' ') * 5

'City University City University City University City University City University '

In [ ]:
# doc string
# some times we use it for multiline commenting without any assignment.
brd = '''
-+-+-
X| |
-+-+-
 |O|
-+-+-
 |O|O
-+-+-
'''
print(brd)

-+-+-
X| |
-+-+-
 |O|
-+-+-
 |O|O
-+-+-

# Control and Loop statements

In [ ]:
#
# -- Now let's look at IF statements
#
num = 3
# if 'condition':
#    'statement(s)'
# else:
#    'other statement(s)'
if num > 0:
    print(num, "is a positive number.")
print("program continues outside if block")

3 is a positive number.
program continues outside if block

In [ ]:
num = -1
if num > 0:
    print(num, "is a positive number.")
print("program continues outside if block")

program continues outside if block

In [ ]:
num = -1
if num > 0:
    print(num, "is a positive number.")
else:
    print(num, "is a negative number.")
    print("second line")

print("program continues outside if block")

-1 is a negative number.
second line
program continues outside if block

In [ ]:
#
# -- Here is how to read an input from the command prompt
#    input will be always string so get ready to conver as needed
#

print("Please Enter an integer number: ")
# num = int(input())
# or
num = int(input("Please Enter an integer number: "))
print("The input string is :", num)

Please Enter an integer number:
Please Enter an integer number: 78
The input string is : 78

In [ ]:
if num > 0:
    print(num, "is a positive number.")
elif num == 0:
    print(num, " is zero.")
else:
    print(num, " is a negative number.")

78 is a positive number.

In [ ]:
#
# -- now let's look at the nested if blocks
#

if num >= 0:
    if num == 0:
        print(num, "is zero")
    else:
        print(num, "is a positive number")
else:
    print(num, " is a negative number")

23 is a positive number

In [ ]:
print("Please Enter an integer number")
num = int(input())

if num > 0:
    print(num, "is a positive number")
elif num == 0:
    print(num, "is zero")
else:
    print(num, " is a negative number")

Please Enter an integer number
24
24 is a positive number

In [ ]:
# -- Before we jump into the loop controls, I'd like to briefly introduce
#    bulit-in range() function. This function creates a list of
#    consecutive numbers from given input values, range(start, stop and step)
# these can be used as index/controller for looping or iteration over arrays
# like list, tuple, dictionary, set.

print(range(10))
range(0, 10) # range object

range(0, 10)

range(0, 10)

In [ ]:
print(list(range(10))) # we need to list-ify

print(list(range(0, 10, 2)))

print(list(range(0, 10, 3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [ ]:
# simple for loop whlie printing a number
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# simple for loop whlie printing an even number
for i in range(30):
    if i%2 == 0 and i%5 == 0:
        print(i)

0
10
20

In [ ]:
#
# Before I go further, let me introduce how to generate random numbers.
# pip install random
import random
num = random.randint(1,6)   # inclusive end for a single random value
print(num)
num = random.randrange(1,6) # exclusive end for a single random value
print(num)

5
5

In [ ]:
random.seed(40)
rlist = random.sample(range(0, 30), 5) # 5 random numbers from 0 to 29
print(rlist)
m = ['O', 'X']
random.choice(m) # random choice from non-empty list

[14, 18, 28, 16, 1]

'O'

In [ ]:
for i in random.sample(range(0,30), 10):
    print(i)

for i in random.sample(range(0,30), 10):
    print(i)
else: # else block
    print("no more item in the list")

21
10
24
26
8
20
11
14
22
3
1
10
2
0
6
27
19
29
21
28
no more item in the list

In [ ]:
#
# Sum the list of 10 random numbers
#
list_num = random.sample(range(0,30), 10)
# initialize final sum
sum = 0
for val in list_num: # adding the values in the list
    sum = sum + val
print("total sum is ", sum)

sum = 0
for i in range(len(list_num)): # using the range to traverse
    sum = sum + list_num[i]
print("total sum is ", sum)

total sum is  121
total sum is  121

In [ ]:
#
# Nested loop
#
for i in range(1,5):
    for j in range(i):
        print(i, end=" ")

1 2 2 3 3 3 4 4 4 4

In [ ]:
ttt = [['X', 'O', 'X'], ['-', 'O', 'X'], ['X', '-', '-']]
for i in range(len(ttt)):
    for j in range(len(ttt)):
        print(ttt[i][j], end=" ")
    print("\n")

X O X

- O X

X - -

In [ ]:
# Sum only even numbers, x = user input
# Challenge1. Write a program to sum first x even numbers, where x is a user input

list_num = [6, 2, 3, 5, 2, 11, 4, 9, 22, -3, 9, 13, 10, 1]
i = 0
sum = 0
while i < len(list_num): #try while list_num[i]%2 == 0: then fix
    if(list_num[i]%2 == 0):
        sum = sum + list_num[i]
    i = i + 1
print("The total sum of even numbers is ", sum)

The total sum of even numbers is  46

In [ ]:
i = 0
sum = 0
while i < len(list_num):
    if(list_num[i]%2 == 0):
        sum = sum + list_num[i]
    i = i + 1
else:
    i = 0
    print("Outside while loop and the final sum is ", sum)

Outside while loop and the final sum is  46

In [ ]:
# with the user's input character, the program prints a message that says vowel or not. If not vowel, it continues if not, stops.
vowels = "aeiouAEIOU"
#infinite loop
while True:
    v = input("Enter a vowel: ")
    v = v.lower()
    if v in vowels:
        break
    print("No! That's not a vowel. Try again")
    print("You entered ", v)
print("Good job!")

Enter a vowel: i
Good job!

In [ ]:
#
# -- Different ways to print values in Python
#

name = 'Tom'
age  = 40
# Concatenation
print('Hello, My name is ' + name + ' and I am ' + str(age)) # age --> str(age)

Hello, My name is Tom and I am 40

In [ ]:
a = 123
print('this is a = %d' %(a))
print('this is a = 123')
print('this is a = %f' %(a))
print('this is a = 123.000000')
print("this is a = %1.f" %(a))
print("this is a = %2.f" %(a))
print("this is a = %3.f" %(a))
print("this is a = %4.f" %(a))
print('this is a = %4.2f' %(a))
print('this is a = 123.00')

this is a = 123
this is a = 123
this is a = 123.000000
this is a = 123.000000
this is a = 123
this is a = 123
this is a = 123
this is a =  123
this is a = 123.00
this is a = 123.00

In [ ]:
x = 'Friday'
print("Today is %s and I am %d." % (name, age))

mylist = [1,2,3]
print("A list: %s" % mylist)

Today is Tom and I am 40.
A list: [1, 2, 3]

In [ ]:
# %d for integer
# %f for float
# %.2f for decimal points .XX
# %X.2f for decimal points -----.XX
# %s for string

In [ ]:
int_numb = 12
my_str   = 'This is my string'
flt_numb = 3.14159

In [ ]:
print(int_numb, my_str, flt_numb)
# basics
print("int_numb = ", int_numb)
print("flt_numb = ", flt_numb)
print("my_str = ", my_str)

12 This is my string 3.14159
int_numb =  12
flt_numb =  3.14159
my_str =  This is my string

In [ ]:
# string-fy
print("int_numb = " + str(int_numb))
print("flt_numb = " + str(flt_numb))
print("str_numb = " + my_str)

TypeError: 'str' object is not callable

In [ ]:
# formatted
s = "Tom"
age = 123
s = f'Hello, My name is {s} and I am {age}'
print(s)

print(f'int_numb = {int_numb}, flt_numb = {flt_numb}, str = {my_str}')
print("{}! {}!".format("Hello", "Seattle"))

Hello, My name is Tom and I am 123
int_numb = 12, flt_numb = 3.14159, str = This is my string
Hello! Seattle!

In [ ]:
print(f"{}! {}!".format("Hello", "Seattle")) #Error

SyntaxError: f-string: empty expression not allowed (<ipython-input-86-f3e56a66ad90>, line 1)

In [ ]:
# adjustment
"|{:<30}|".format("how are you?") #right adjustment

'|how are you?                  |'

In [ ]:
"|{:^30}|".format("how are you?") #center adjustment

'|         how are you?         |'

In [ ]:
"|{:>30}|".format("how are you?") #left adjustment

'|                  how are you?|'

In [ ]:
# formating by position
print('first number is {value1} and second number is {value2} then final string is \'{value3}\''.format(value1 = int_numb, value2 = flt_numb, value3 = my_str))
print('first number is {v1} and second number is {v2} then final string is \'{v3}\''.format(v1 = int_numb, v2 = flt_numb, v3 = my_str))
print('first number is {0} and second number is {1} then final string is \'{2}\''.format(int_numb, flt_numb, my_str))
print('first number is {} and second number is {} then final string is \'{}\''.format(int_numb, flt_numb, my_str))
print("value is {}".format(round(10.92)))

first number is 12 and second number is 3.14159 then final string is 'This is my string'
first number is 12 and second number is 3.14159 then final string is 'This is my string'
first number is 12 and second number is 3.14159 then final string is 'This is my string'
first number is 12 and second number is 3.14159 then final string is 'This is my string'
value is 11

In [ ]:
s = "Tom"
print(f'Hello, My name is {s} and I am {age}')
s = f'Hello, My name is {s} and I am {age}'
print(len(s.upper()))
print(s.capitalize())
print(s.replace("Tom", "Jin"))

Hello, My name is Tom and I am 123
34
Hello, my name is tom and i am 123
Hello, My name is Jin and I am 123

In [ ]:
# Sample program to gather input and manipulate the input.

print("Please enter your name")
name = input()
print(f"you are {name}")
print("How old are you?")
age = int(input())
new_age = age + 1
print(f"you're {age} and you will be {new_age} next year")

Please enter your name
kiran
you are kiran
How old are you?
60
you're 60 and you will be 61 next year

In [ ]:
x, y = input("Enter a two value: ").split()# default delimiter = " "
print("Number of boys: ", x)
print("Number of girls: ", y)

Enter a two value: 23 25
Number of boys:  23
Number of girls:  25

# List

*   append() - Add an element to the end of the list                #append(item)
*   extend() - Add all elements of a list to the another list       #extend([...])
*   insert() - Insert an item at the defined index                  #insert(index, item)
*   remove() - Removes an item from the list                        #remove(a known item), del list[2]
*   pop() - Removes and returns an element at the given index       #return an item that is popped
*   clear() - Removes all items from the list
*   index() - Returns the index of the first matched item           #retuns index that is found first in the list
*   count() - Returns the count of number of items passed as an argument
*   sort() - Sort items in a list in ascending order                #sort on the same data type in ascending order
*   reverse() - Reverse the order of items in the list              #sort on the same data type in descending order
*   copy() - Returns a shallow copy of the list

In [ ]:
# here is how to create an empty list
mylist = [] # empty list
print(mylist)
# another way to create a list with the initial values
mylist = [1, 5, 4, 2, 8, 7, 3, 6, 9]
print(mylist)

[]
[1, 5, 4, 2, 8, 7, 3, 6, 9]

In [ ]:
# How to assign values to a List
mylist = ['apple', 24, 'Kate', 23, [2,3,4]]
print(mylist)

['apple', 24, 'Kate', 23, [2, 3, 4]]

In [ ]:
# How to access values to a list
print(mylist[0])  # first item (forward (0th index))
print(mylist[1])  # first item (forward (0th index))
print(mylist[-1]) # last item (backwards)

apple
24
[2, 3, 4]

In [ ]:
print(mylist[len(mylist)])  # first item (forward (0th index)) --> error exclusive

IndexError: list index out of range

In [ ]:
# How to slice the entries in a List [x:y] ==> x to y-1 (=item before y)
#                                    [x:] ==> x to the last
#                                    [:y] ==> first to y-1 (=item before y)
#                                    [:]  ==> all
# don't get confused between slice and range
# slice[start:stop:step]
# range[start, stop, step)
print(mylist[1:3]) # 1 to 3-1
print(mylist[3:])  # 3 to the end
print(mylist[:3])  # first to 3-1
mylist[:-2] # first to one item before (the 2nd to the last)

[24, 'Kate']
[23, [2, 3, 4]]
['apple', 24, 'Kate']

['apple', 24, 'Kate']

In [ ]:
# now, I want to access the 2nd item in the nested list.
print(mylist[4])
mylist[4][2]

[2, 3, 4]

4

In [ ]:
# modifying entries
mylist[1] = 'PEAR'
print(mylist)
mylist[-1] = (2,3,4)
print(mylist)

['apple', 'PEAR', 'Kate', 23, [2, 3, 4]]
['apple', 'PEAR', 'Kate', 23, (2, 3, 4)]

In [ ]:
# How to add an entry in a list
# insert(index, new_value)
mylist.insert(4, 'Seattle')
mylist.insert(5, 54)
mylist.insert(6, 'Seattle')
mylist

['apple', 'PEAR', 'Kate', 23, 'Seattle', 54, 'Seattle', (2, 3, 4)]

In [ ]:
# append(new_value) # no need to add index since we know it is appending
mylist.append(-293)

In [ ]:
mylist.count('Seattle') # returns the # of occurrences of the value, freq. or histogram

2

In [ ]:
# How to remove an entry in a list
# item = pop(index) index-th item , pop() => last
item = mylist.pop(3)
print(item)
item = mylist.pop() # returns the last item from the list and removes the item from the list

23

In [ ]:
# remove(value) the first occurrence of value
mylist.remove('Seattle')

In [ ]:
mylist.clear()

In [ ]:
# del can also be used.
mylist = [10,20,30]
print(mylist)
del(mylist[-1])
print(mylist)
del mylist # Hasta la vista

[10, 20, 30]
[10, 20]

In [ ]:
#
# let's look at the slicing to create a new list object
#
# slicing is a method to display the all or subset of a list
#
z = list(range(1,100)) # [start:stop:step]
# help(range)  range(stop) -> range object
#              range(start, stop[, step]) -> range object

print(z[0:10:1])       # start = 0 to stop = 9, by 1
print(z[0:100:10])
print(z[1:100:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]
[2, 12, 22, 32, 42, 52, 62, 72, 82, 92]

In [ ]:
# start,end,step = optional params with defaults
# start = 0, end = len(z), step = 1
print(z[:10])   # start=start, end=10, step=1
print(z[90::1]) # start=90, end=end, step=1 --> same as z[90::] remove defaults
print(z[::10])  # start=start, end=end, step=10 --> same as z[0::10] remove defaults

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[91, 92, 93, 94, 95, 96, 97, 98, 99]
[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [ ]:
list_num = [1, 5, 4, 2, 8, 7, 3, 6, 9]
list_num.sort(reverse=True)     # 9,8,7,6,5,4,3,2,1
print(list_num)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list_num.sort()                 # 1,2,3,4,5,6,7,8,9
print(list_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#del sum  # deleting variable sum defined earlier to utilize built-in functions.
# Else use import builtins
__builtins__.sum(list_num)

45

In [ ]:
print(max(list_num))            # 9
print(max(list_num))            # 9
print(min(list_num))            # 1
print(sum(list_num))            # 45

9
9
1
45

In [ ]:
# Challenge question
# How would you get the average of the list in one line of expression?
average = sum(list_num)/len(list_num)
print(average)

5.0

In [ ]:
# How to traverse the list
mylist = [1, 5, 4, 2, 8, 7, 3, 6, 9]
for i in mylist: # traversing to each item directly in the list
    print(i, end=' ')   # print all items / line
    #print(i)           # print one item  / line

1 5 4 2 8 7 3 6 9

In [ ]:
for i in range(0, len(mylist)): # traversing thru the index to the list
# for i in range(len(mylist)):  # <- simpler way to express the range since start default = 0
    print(f"item {i} = ", mylist[i])

item 0 =  1
item 1 =  5
item 2 =  4
item 3 =  2
item 4 =  8
item 5 =  7
item 6 =  3
item 7 =  6
item 8 =  9

In [ ]:
# few important built-in methods
mylist.sort()   # sort the list Note: modifying the list (aka *IN PLACE*)
print(mylist)
mylist.reverse() # reverse the order of items in the llst.
print(mylist)
print(len(mylist))     # returns the number of items in the list

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
9

In [ ]:
print(mylist.count(8))  # count the number of occurrence, frequency

1

In [ ]:
# Let's quickly look at how to generate random numbers

import random
print(random.randrange(0, 100)) # selecting one random value from 0 - 100
print(random.sample(range(0, 100), 10)) # selecting 10 random #s in 0-99
print(random.sample(range(-100, 100), 10)) # selecting 10 random #s in -99 to +99

51
[10, 49, 29, 32, 97, 58, 7, 18, 19, 13]
[23, 32, -16, 95, 82, 4, 48, 83, 90, -20]

In [ ]:
#
# More LIST examples
# Sum the list of numbers
list_num = random.sample(range(-100, 100), 10)
# init. sum
s = 0
for val in list_num:
    s = s + val
print("total sum is ", s)

total sum is  -102

In [ ]:
s = 0
for i in range(len(list_num)): # using the range to traverse
    s = s + list_num[i]
print("total sum is ", s)

total sum is  -102

In [ ]:
for i in list_num:
    print(i)
else: # else block
    print("no more item in the list")

5
-78
-63
44
-87
38
93
-26
-47
19
no more item in the list

In [ ]:
#
# -- nested list -> nested loops (5 x 3)
#
list_num = [[6, 2, 3], [5, 2, 11], [4, 9, 22], [-3, 9, 13], [10, 1, 9]]
for i in range(5):
    for j in range(3):
        print(list_num[i][j])

6
2
3
5
2
11
4
9
22
-3
9
13
10
1
9

In [ ]:
#
# -- What if I want to print nested lists with different sizes?
#
list_num = [[3], [5, 2, 11], [9, 22], ['k', -3, 9, 13], [10, 1, 9]]
for i in range(len(list_num)):
    print("\n")
    for j in range(len(list_num[i])):
        print(list_num[i][j])

3


5
2
11


9
22


k
-3
9
13


10
1
9

In [ ]:
#
# With the user's input character, the program prints a message that says vowel or not. If not vowel, it continues if not, stops.
#
vowels = "aeiouAEIOU"
#infinite loop
while True:
    v = input("Enter a vowel: ")
    if v in vowels:
        break
    print("No! That's not a vowel. Try again")
    print("You entered ", v)
print("Good job!")

Enter a vowel: i
Good job!

In [ ]:
# Copying a list

# this way, they both refer to the same python object
a = [1, 2, 3]
b = a
print(a)    # [1, 2, 3]
print(b)    # [1, 2, 3]
a[0] = 10
print(a)    # [1, 2, 3]
print(b)    # [1, 2, 3]

[1, 2, 3]
[1, 2, 3]
[10, 2, 3]
[10, 2, 3]

In [ ]:
# ---------------------------------------------------------
# SHALLOW COPY V. DEEP COPY
# ---------------------------------------------------------
# So, we have different types of copy methods, shallow copy and deep copy to avoid this type of copy
#
# * Shallow copy creates a copy of the object but references element of the nested objects copied at the time of creation.
#
# Shallow copy creates a copy of the objects from the source
# When the source changes the objects, source and copied objects work independently in the first layer
# However, when the source changes the contents of the nested objects, the its new contents will be copied to the copied object.
#
# Let's say we shallow copied a house, old and new
# You added additional room in your old house, and the new(copied) house will not be synched (referenced)
# You changed the door in the room in your old house, and your new house will be synched (referenced)
#
# If you know that list won't grow or shrink and the values of nested object need to be maintained then use shallow copy.
# (e.g.) RGB value change or (X,Y) point pair change between 2 copied objects
#
# * Deep copy creates a copy of the object and the elements of the object as an independent object
#
import copy
o = [1, 2, 3]   # original list
s = copy.copy(o) # "s"hallow copy c = o.copy() or copy.copy(o)
print(o)    # [1, 2, 3]
print(s)    # [1, 2, 3]

[1, 2, 3]
[1, 2, 3]

In [ ]:
s[0] = 10
print(o)    # [1, 2, 3]
print(s)    # [10, 2, 3]

[1, 2, 3]
[10, 2, 3]

In [ ]:
d = copy.deepcopy(o) # "d"eep copy d = copy.deepcopy()
print(o)    # [1, 2, 3]
print(d)    # [1, 2, 3]

[1, 2, 3]
[1, 2, 3]

In [ ]:
d[0] = 10
print(o)    # [1, 2, 3]
print(d)    # [10, 2, 3]

[1, 2, 3]
[10, 2, 3]

In [ ]:
hex(id(o))
hex(id(s))
hex(id(d))

'0x7daa13f95fc0'

# Tuple

In [ ]:
# How to define a tuple
mytuple = () # empty tuple

In [ ]:
# a tuple with initial values
mytuple = ("R", "#FF00000", "G", "#00FF00", "B", "#0000FF")

In [ ]:
#   or without ()
mytuple = "R", "#FF00000", "G", "#00FF00", "B", "#0000FF"

In [ ]:
# How to access values to a list
mytuple[0]  # first item (forward (0th index))
mytuple[-1] # last item (backwards)

'#0000FF'

In [ ]:
# How to slice the entries in a tuple [x:y] ==> x to y-1 (=item before y)
#                                     [x:] ==> x to the last
#                                     [:y] ==> first to y-1 (=item before y)
#
mytuple[1:3] # 1 to 3-1
mytuple[3:]  # 3 to the end
mytuple[:3]  # first to 3-1
mytuple[:-2] # first to one item before (the 2nd to the last)
i=2
mytuple[i:i+2]

('G', '#00FF00')

In [ ]:
# no addition (immutable)
# no insert (immutable)
# no append (immutable)
# no remove (immutable)

# How to traverse the tuple
for i in mytuple:
    print(i, end=' ')   # print all items / line
    #print(i)            # print one item  / line

R #FF00000 G #00FF00 B #0000FF

In [ ]:
for i in range(0, len(mytuple)):
    print(f"item {i} = ", mytuple[i]) # print formatting

item 0 =  R
item 1 =  #FF00000
item 2 =  G
item 3 =  #00FF00
item 4 =  B
item 5 =  #0000FF

In [ ]:
# more example (sub-tuples inside a tuple)
points = ((1.2,-2.3), (13.3,-2.9), (24.3,-3.5)) # (x, y) coordinates
for point in points:
    x, y = point
    print(f"x = {x}, y = {y}")

x = 1.2, y = -2.3
x = 13.3, y = -2.9
x = 24.3, y = -3.5

In [ ]:
# Can you shorten the for loop?
for (x, y) in points:
    print(f"x = {x}, y = {y}")

x = 1.2, y = -2.3
x = 13.3, y = -2.9
x = 24.3, y = -3.5

In [ ]:
# few important built-in methods (multiple assignment or unpacking
x, y = 0.24, 3.28
a, b, c, d, e, f = mytuple # 'unpacking' mytuple example above
p1, p2, p3 = points # 'unpacking points example above
len(mytuple)    # returns the number of items in the tuple

6

In [ ]:
# Note: Tuples may be created directly or converted from lists.
x = list(mytuple)
y = tuple(x)