# Dictionaries

In [ ]:
# Dictionaries in Python are a list of items that are unordered and can be
# changed by use of built in methods. Dictionaries are used to create a map
# of unique keys to values.
# List and Dictionary are the most used data types in Python
# It is a composite data type.
# - mutable
# - grow or shirnk the data type on the fly
# - can be nested meaning dict can contain another dict or list or tuple
# - accessing an entry is different than list or tuple or string, via a key
#
# -- let's create a empty dictionary
#    and go over how we can define a dictionary data type
#
#
# empty dictionary
d = dict()
d

{}

In [ ]:
# create a dict (1)
d = {'Name': 'John', "Choice": (2,3,4)}
d

{'Name': 'John', 'Choice': (2, 3, 4)}

In [ ]:
# create a dict (2) using the dict() to create
d = dict({'Name': 'John', "Choice": (2,3,4)})
d

{'Name': 'John', 'Choice': (2, 3, 4)}

In [ ]:
# create a dict (3) with an assignment

d = dict(Name = 'John', Choice = (2, 3, 4))
d

{'Name': 'John', 'Choice': (2, 3, 4)}

In [ ]:
# create a dict (4) using the dict() to create
# each item as a pair <-- using a list
# if you're getting tuples as an input to create a dictionary, this
# format would be very convenient when you're using return value from a function
d = dict([('Name','John'), ('Choice',(2, 3, 4)),(2,"xyz")])
d

{'Name': 'John', 'Choice': (2, 3, 4), 2: 'xyz'}

In [ ]:
d = dict([('Name','John'), ('Choice',(2, 3, 4)),(3,"xyz")])
d

{'Name': 'John', 'Choice': (2, 3, 4), 3: 'xyz'}

In [ ]:
#
# -- how do we access the dictionary data?
#
d = dict([('Name','John'), ('Choice',(2, 3, 4))])
d

{'Name': 'John', 'Choice': (2, 3, 4)}

In [ ]:
d['Name']

'John'

In [ ]:
d['Jack'] # error --> KeyError: 'Jack'

KeyError: 'Jack'

In [ ]:
d['Choice']

(2, 3, 4)

In [ ]:
d.get('Name1','does not exist') #funciton () == d['Name'] none

'does not exist'

In [ ]:
d.get('Choice') #funciton ()

(2, 3, 4)

In [ ]:
d['Choice']   # direct access []

(2, 3, 4)

In [ ]:
# -- let's make some changes to the dictionary.
#    modification of value by accessing 'key'
#    please remember key - immutable, value - mutable
#    therefore, use the key to modify its associated value

print(d['Name'])
d['Choice'] = (2, 1, 5)
print(d['Choice'])

John
(2, 1, 5)

In [ ]:
#
# -- how about adding a key value pair to the dictionary?
#
d['Address'] = 'Downtown' # d[new_keyword] = new_value for the keyword
d['Job'] = 'IT Profession'
print(d)

{'Name': 'John', 'Choice': (2, 1, 5), 3: 'xyz', 'Address': 'Downtown', 'Job': 'IT Profession'}

In [ ]:
#
# -- how about removing key value pair?
#
d.pop() # error -> help(d.pop())
        # D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
        # help(d.pop)

TypeError: pop expected at least 1 argument, got 0

In [ ]:
d.pop('Address')

'Downtown'

In [ ]:
d

{'Name': 'John', 'Choice': (2, 1, 5), 3: 'xyz', 'Job': 'IT Profession'}

In [ ]:
c = d.pop('Job') # c = 'Seattle'
print(c)
print(d)

IT Profession
{'Name': 'John', 'Choice': (2, 1, 5), 3: 'xyz'}

In [ ]:
d.popitem() # returns the last tuple item (last in first out) => stack

(3, 'xyz')

In [ ]:
d

{'Name': 'John', 'Choice': (2, 1, 5)}

In [ ]:
#
# -- how to delete or clear the entire dictionary
#
d.clear() # remove all the items
print(d)

{}

In [ ]:
del d     # will completely destory its allocation

In [ ]:
d

NameError: name 'd' is not defined

In [ ]:
# -- Let's look at different ways to validate/display keys and values
#    once it is defined
d = {'Jim': 1253, 'Tim': 9923, 'John': 4923, 'Jake': 2342}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['Jim', 'Tim', 'John', 'Jake'])
dict_values([1253, 9923, 4923, 2342])
dict_items([('Jim', 1253), ('Tim', 9923), ('John', 4923), ('Jake', 2342)])

In [ ]:
# these can be used in conjunction with list() to display in the list format
print(list(d.items()))
print(list(d.values()))

[('Jim', 1253), ('Tim', 9923), ('John', 4923), ('Jake', 2342)]
[1253, 9923, 4923, 2342]

In [ ]:
# Key or value exist in a dictionary
# when the dictionary is being accessed it is accessed via keys for items()
'Jim' in d # True

True

In [ ]:
1253 in d # False

False

In [ ]:
1253 in d.values()

True

In [ ]:
1253 in d.keys()

False

In [ ]:
'Jim' in d.keys()

True

In [ ]:
'Kate' in d.keys()

False

In [ ]:
'Kate' not in d.keys()

True

In [ ]:
# -- We can also merge two dictionaries
d1 = {'a': 10, 'b': 8, 'd': 6, 'e': 11}
d2 = {'f': 6, 'g': 11}
print(d1)
print(d2)

{'a': 10, 'b': 8, 'd': 6, 'e': 11}
{'f': 6, 'g': 11}

In [ ]:
d2.update(d1) # d1 + d2
d2

{'f': 6, 'g': 11, 'a': 10, 'b': 8, 'd': 6, 'e': 11}

In [ ]:
d2['a'] = 100

In [ ]:
d1.update(d2)
d1

{'a': 100, 'b': 8, 'd': 6, 'e': 11, 'f': 6, 'g': 11}

In [ ]:
!python --version

Python 3.10.12

In [ ]:
d3 = {**d1, **d2}

d3

{'a': 100, 'b': 8, 'd': 6, 'e': 11, 'f': 6, 'g': 11}

In [ ]:
# -- Sorting
sorted(d3.keys())

['a', 'b', 'd', 'e', 'f', 'g']

In [ ]:
sorted(d3.values())

[6, 6, 8, 10, 11, 11]

In [ ]:
sorted(d3.items())

[('a', 10), ('b', 8), ('d', 6), ('e', 11), ('f', 6), ('g', 11)]

In [ ]:
# it is straightforward to think that sort by key since it is unique
# but there is a situation where sorting by value is important for instance
# give me a word that has the highest frequency.

# This method returns list of keys based on reverse sorted value (high-low).
sorted(d3, key=d3.get, reverse=True) # where get(key, default=None, /)

['e', 'g', 'a', 'b', 'd', 'f']

In [ ]:
# Looping through dictionary
for key, value in d3.items():
  print(f"\nKey: {key}")
  print(f"Value: {value}")

Key: a
Value: 10

Key: b
Value: 8

Key: d
Value: 6

Key: e
Value: 11

Key: f
Value: 6

Key: g
Value: 11

In [ ]:
# Looping through dictionary
for key in d3:
  print(f"\nKey: {key}")
  print(f"Value: {d3[key]}")

Key: a
Value: 10

Key: b
Value: 8

Key: d
Value: 6

Key: e
Value: 11

Key: f
Value: 6

Key: g
Value: 11

#Challenge Question

Assume a dictionary that contains character and its count in a given paragraph.
print a set of characters that have its count greater than the
average of the all character counts.

dictionary = {a:100,b:300,c:12,d:23,e:0,f:11}
average count = (100+300+12+23+11)/5
If any key in the dictionary has value greater than average count, that key should be printed.

In [ ]:
# print a set of letters in which count is greater than 4
# or average of the frequency
for letter, count in d3.items():
    if count > 6:
        print(letter)

a
b
e
g

# Set

In [ ]:
#****************************************************************
# Set (unordered list)
#****************************************************************
# myset = set(<iter>) # <iter> = list or tuple
# How to define an empty set

my_set = set()
print(my_set)

set1 = set(['a1', 'a2', 'a3', 'a2', 'a4', 'a5']) # you can use iterators (list or tuple)
set2 = {'b1', 'b2', 'a1', 'a1', 'b5'} # you can also use {} don't get confused with dictionary {"James":1423, "Kay":4392} {key:value}
set3 = {} # would this be dictionary or set? it is dictionary, type(set3)

print(set1)
print(set2)
print(set3)

set()
{'a1', 'a5', 'a4', 'a3', 'a2'}
{'b5', 'b1', 'a1', 'b2'}
{}

In [ ]:
#
# to find out if a given iterable is a ordered or unordered
#
[1,2,3] == [2,3,1] # False

False

In [ ]:
{1,2,3} == {2,3,1} # True

True

In [ ]:
'a1' in set1

True

In [ ]:
#
# set is mutable, editable
#
set1.add('c2')
print("Set1 after adding element: ", set1)
set1.pop() # getting it out in an arbitrary order
print("Set1 after popping element: ", set1)
set1.discard('b2')
print("Set1 after discarding element: ", set1)
set2.add('c1')
print("Set2 after adding element: ", set2)
set2.discard('b2') # nothing happends when the item not present
print("Set2 after discarding element: ", set2)

Set1 after adding element:  {'a5', 'a4', 'a3', 'a2', 'c2'}
Set1 after popping element:  {'a4', 'a3', 'a2', 'c2'}
Set1 after discarding element:  {'a4', 'a3', 'a2', 'c2'}
Set2 after adding element:  {'b5', 'a1', 'c1', 'b1'}
Set2 after discarding element:  {'b5', 'a1', 'c1', 'b1'}

In [ ]:
set2.remove('z2') # KeyError when the item not present
print("Set2 after removing element: ", set2)

KeyError: 'z2'

In [ ]:
#
# However, the elements of the set are immutable
#
set1[0] = 'z1' # TypeError 'set' doesn't support item assignment

TypeError: 'set' object does not support item assignment

In [ ]:
set1[0]

TypeError: 'set' object is not subscriptable

In [ ]:
len(set1)

4

In [ ]:
len(set2)

4

In [ ]:
set1 = {'a1', 'a2', 'a3', 'a2', 'a4', 'a5'} # you can use iterators (list or tuple)
set2 = {'b1', 'b2', 'a1', 'a1', 'b5'} # you can also use {}

In [ ]:
set1.union(set2)

{'a1', 'a2', 'a3', 'a4', 'a5', 'b1', 'b2', 'b5'}

In [ ]:
set1|set2 # union of set1 and set2

{'a1', 'a2', 'a3', 'a4', 'a5', 'b1', 'b2', 'b5'}

In [ ]:
set1.intersection(set2)

{'a1'}

In [ ]:
set1&set2 # intersection of set1 and set2

{'a1'}

In [ ]:
set1.difference(set2)

{'a2', 'a3', 'a4', 'a5'}

In [ ]:
set2.difference(set1)

{'b1', 'b2', 'b5'}

In [ ]:
set1-set2 # = set1 but not in set2

{'a2', 'a3', 'a4', 'a5'}

In [ ]:
set2-set1 # = in set2 but not in set1

{'b1', 'b2', 'b5'}

In [ ]:
set3 = {'a1','a2'}
set3.issubset(set1)

True

In [ ]:
set1.issubset(set3)

False

In [ ]:
set1 ^ set2 # (set1 | set2) - (set1 & set2)

{'a2', 'a3', 'a4', 'a5', 'b1', 'b2', 'b5'}

In [ ]:
set1 <= set2 # try it in Python shell

False

In [ ]:
set1 >= set2 # try it in Python shell

False

In [ ]:
set3 = {'b1', 'b2'}
set3 <= set2 # subset (all inclusive)

True

In [ ]:
a = set('foo') # removing the dups try it in Python shell
a

{'f', 'o'}

In [ ]:
a = set([1,2,3]) # individualize all the element of the iterable as a single item
a

{1, 2, 3}

In [ ]:
# note that there is no accessor to an item in a set since it is unrodered data type
# only way you can access is via for loop (traversing)
# to print the elements in a set
for d in set1:
    print(d)

a3
a1
a2
a5
a4

# Strings

In [ ]:
#****************************************************************
# String
#****************************************************************
string1 = ""
string1 = "20190450 Oct 17 20:29  Information ESENT 916 DllHost"

In [ ]:
# How to access values with slicing
string1[0]

'2'

In [ ]:
string1[-1]

't'

In [ ]:
string1[0:10]

'20190450 O'

In [ ]:
string1[12:30]

' 17 20:29  Informa'

In [ ]:
string1[::-1] # reverse the string

'tsoHllD 619 TNESE noitamrofnI  92:02 71 tcO 05409102'

In [ ]:
string1[::1]

'20190450 Oct 17 20:29  Information ESENT 916 DllHost'

In [ ]:
# replace(), strips(), [r|l]find('x')
newstring = string1.replace('2019', '2020')
newstring

'20200450 Oct 17 20:29  Information ESENT 916 DllHost'

In [ ]:
string1 = string1.replace('2019', '2020') # not modifying the string
string1

'20200450 Oct 17 20:29  Information ESENT 916 DllHost'

In [ ]:
# Technicailly speaking what immutable means, you cannot
# modify it directly
string1[0] = 'X' # immutability

TypeError: 'str' object does not support item assignment

In [ ]:
# -- then is an integer immutable?
# -- how about boolean? --> They are immutable

'T' in string1

True

In [ ]:
'K' in string1

False

In [ ]:
for i in string1:
  print(i)

2
0
2
0
0
4
5
0

O
c
t

1
7

2
0
:
2
9


I
n
f
o
r
m
a
t
i
o
n

E
S
E
N
T

9
1
6

D
l
l
H
o
s
t

In [ ]:
# built-in function
str1 = "$ 2145"
str1.isalnum()

False

In [ ]:
str1[0].isnumeric()

False

In [ ]:
str1[1].isspace()

True

In [ ]:
str1.startswith(' ')

False

In [ ]:
str1.startswith(' ')

False

In [ ]:
str1 = "abcd"
str1.isalpha() # True

True

In [ ]:
str1 = "abcd "
str1.isalpha() # False (blank space character added at the end)

False

In [ ]:
str1 = '      test '
str1.lstrip() # removing white spaces before

'test '

In [ ]:
str1.rstrip() # removing white spaces after

'      test'

In [ ]:
str1.strip()  # removing white spaces before and after

'test'

In [ ]:
str1.find('t') # 	Searches the string for a specified value and returns the position of where it was found

6

In [ ]:
str1.rfind('t')  #The rfind() method finds the last occurrence of the specified value. The rfind() method returns -1 if the value is not found.

9

In [ ]:
# built in functions
str1 = "This is CityU"
str1.upper()

'THIS IS CITYU'

In [ ]:
str1.lower()

'this is cityu'

In [ ]:
str1.lower().upper()

'THIS IS CITYU'

In [ ]:
# split() removes the character and split
str1 = "Today is Thrusday, and\tI cannot wait for the weekend!"
str1.split() # split on all white spaces including tabs and newlines, empty space

['Today',
 'is',
 'Thrusday,',
 'and',
 'I',
 'cannot',
 'wait',
 'for',
 'the',
 'weekend!']

In [ ]:
str1.split(' Th')

['Today is', 'rusday, and\tI cannot wait for the weekend!']

In [ ]:
str1.split(' ', 2) # split for the only first 2 items

['Today', 'is', 'Thrusday, and\tI cannot wait for the weekend!']

In [ ]:
str1.split(',')

['Today is Thrusday', ' and\tI cannot wait for the weekend!']

In [ ]:
# printing justification
str1.rjust(100, ' ')

'                                               Today is Thrusday, and\tI cannot wait for the weekend!'

In [ ]:
str1.ljust(100, ' ')

'Today is Thrusday, and\tI cannot wait for the weekend!                                               '

In [ ]:
str1.cjust(100, ' ') # <-- error

AttributeError: 'str' object has no attribute 'cjust'

In [ ]:
str1.center(20, '*')

'Today is Thrusday, and\tI cannot wait for the weekend!'

In [ ]:
str2 = "Hello"
str2.center(20,' ')

'       Hello        '

In [ ]:
print("{:>100}".format(str1)) # printing with right justification
print("{:<100}".format(str1)) # printing with left justification
print("{:^100}".format(str1)) # printing with center justification

                                               Today is Thrusday, and	I cannot wait for the weekend!
Today is Thrusday, and	I cannot wait for the weekend!
                       Today is Thrusday, and	I cannot wait for the weekend!

In [ ]:
# special escape character
#print('this is David's worksplace') # error!
print("this is David's worksplace")
print('this is David\'s worksplace')

print('David said "hi"')
print("David said \"hi\"")
print("David said \t \"hi\"")
print("David said \n \"hi\"")
print("David said \a \"hi\"") # Windows/OS default notification bell
print("David said \v \v \"hi\"")

this is David's worksplace
this is David's worksplace
David said "hi"
David said "hi"
David said 	 "hi"
David said
 "hi"
David said  "hi"
David said   "hi"

In [ ]:
# multiple lines
print(''' Hi David
How are you?
Bye!''')
print('Hi David\How are you?\nBye!')

 Hi David
How are you?
Bye!
Hi David\How are you?
Bye!