In [7]:
import pandas as pd
import numpy as np
#  Two-dimensional, size-mutable, potentially heterogeneous tabular data.
#  Data structure also contains labeled axes (rows and columns).
#  Arithmetic operations align on both row and column labels. Can be
#  thought of as a dict-like container for Series objects. The primary
#  pandas data structure.

# creating values for each column using a dict format
df = pd.DataFrame({"a" : [4 ,5, 6],
                   "b" : [7, 8, 9],
                   "c" : [10, 11, 12]},
                    index = [1, 2, 3]) # <- loc, df.index.values[]
df
df.size
df.shape
df.columns # column labels
df.index   # row labels
df.describe()

df['a']
df[['a', 'c']]    # multiple columns
df.c
df.a
df[1:3]           # multiple rows
df.at[2, "b"] = 0 # Access a single value for a row/column label pair.
df.iat[2, 1]      # Access a single value for a row/column pair by integer position.
df.loc[2]         # Access a group of rows and columns by integer position
df.loc[1:2]       
df.loc[:]         
df.iloc[1]        # Access a group of rows and columns by integer position(s)
df.iloc[2:3]      # zero index for iat and iloc
df.loc[1].at['c']
# Note using ``[[]]`` returns a DataFrame
df.loc[[1,3]]  # df.loc[2:3] -> multiple rows (random or seq.)
df.iloc[:, 2]     # column data (all rows, 3rd col)
df.iloc[:, 2].name # its column label
df.loc[df['c'] > 10] # display the rows if col = 'c' greater than 10

# class question - print 4 elements on the bottom right section using both iloc, loc
df.iloc[1:3, 1:3]
df.loc[[2,3], ['b', 'c']]

10

In [14]:
# specify values for each row using list format, two lists combined into a dictionary
df1 = pd.DataFrame([[4, 7, 10],
                   [5, 8, 11],
                   [6, 9, 12]],
                   index=[1, 2, 3],
                   columns=['a', 'b', 'c'])
df
df1 = df
pd.concat([df, df1], axis=0) # row merge
pd.concat([df, df1], axis=1) # column merge

   a  b   c  a  b   c
1  4  7  10  4  7  10
2  5  8  11  5  8  11
3  6  9  12  6  9  12

In [8]:
# check out the following site for pandas documentation
# https://www.w3resource.com/pandas/

# reading data from the different file types
# .txt with tab delimiter, xlsx file, and csv file
data = pd.read_excel('C:\\CityU\\CS506\\Data\\uber.csv.xlsx')
#print(data.head())

data = pd.read_csv('C:\\CityU\\CS506\\Data\\uber.txt', delimiter='\t')
#print(data.head())

data = pd.read_csv('C:\\CityU\\CS506\\Data\\uber.csv')
#print(data.head())

# reading the headers
print(data.columns)
# reading each column
print(data['Lat'])
print(data[['Date/Time', 'Lat', 'Lon']])
print(data.Lon) # whole column
print(data['Lon'][0:3])
print(data[['Lat', 'Lon']][0:3]) # slicing using the labels
print(data.Lon[0:3])
# reading each row (= index location, iloc)
print(data.iloc[:, 0] # displaying a column data
print(data.iloc[1])   # displaying a row data
print(data.iloc[1:4]) # displaying rows

# reading a specific location (row, col)
print(data.iloc[2,1])

# iterate thru the list per column
for index, col in data.iterrows():
    print(index, col['Lon'])

# looking for a specific item value contents
print(data.loc[data['Lon'] < -73])
print(data.loc[data['Lon'] == -73.9920])

# using specific conditions: and -> &, or -> | to look for those items.
new = data.loc[(data['Lon'] == -73.9920) | (data['Lat'] == 40.7555)]
new = data.loc[(data['Lon'] == -73.9920) & (data['Lat'] > 40)]
new.to_csv('filtered.csv', index=False)

# removing the old index
new.reset_index()
new.reset_index(drop=True, inplace=True) # drop=True -> drop that old indices

# pulling out specific string values
data.loc[data['Base'].str.contains('B')]
data.loc[~data['Base'].str.contains('B')] # ~ not
data.loc[data['Base'].str.contains('b')] # lower case ignored.
import re
data.loc[data['Base'].str.contains('b', flags=re.I, regex=True)] # lower case ignored.

data.describe()

# stats of the data numeric values
print(data.describe())
print(data.sort_values(['Lon', 'Lat'], ascending=False))
print(data.sort_values(['Lon', 'Lat'], ascending=[1,0]))

# other utility methods
data.dropna(inplace=True)
data.fillna(0)
data.duplicates()
data.nlargest(3, 'Lon')
data.nsmallest(3, 'Lon')
data.Lon.abs()
data

       Date/Time      Lat      Lon    Base
0  6/1/2014 0:00  40.7293 -73.9920  A02512
1  6/1/2014 0:01  40.7131 -74.0097  A12512
2  6/1/2014 0:04  40.3461 -74.6610  B02512
3  6/1/2014 0:04  40.7555 -73.9833  Q12512
4  6/1/2014 0:07  40.6880 -74.1831  F12512
6  6/1/2014 0:08  40.7282 -73.9910  T02512
7  6/1/2014 0:08  40.3042 -73.9794  F12512
8  6/1/2014 0:09  40.7270 -73.9915  CD2512

Making changes to the data

In [81]:
data = pd.read_csv('C:\\CityU\\CS506\\Data\\uber.txt', delimiter='\t')
# creating a new column from number crunching the existing values.
data['Offset'] = data['Lat'] + data['Lon']
data.head(3)
#data['Offset'] = data.iloc[:, 1:3].sum(axis=1) # axis=1 -> column sum
cols = list(data.columns)
#print(cols)
# rearranging the column orders
data = data[cols[0:3] + [cols[4]] + [cols[3]]]

# dropping the column
data.drop(columns=['Lat'])

In [9]:
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['P', 'Q', 'R', 'S'])
df
df.shape

(3, 4)

In [70]:
df.drop(['Q', 'P'], axis=1)

    R   S
0   2   3
1   6   7
2  10  11

In [72]:
df.drop(columns=['Q', 'R'])

   P   S
0  0   3
1  4   7
2  8  11

In [74]:
df.drop([0, 1])

   P  Q   R   S
2  8  9  10  11

In [76]:
# multiple index data manipulation (more dropping)
midx = pd.MultiIndex(levels=[['deer', 'dog', 'eagle'],
                             ['speed', 'weight', 'length']],
                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                            [0, 1, 2, 0, 1, 2, 0, 1, 2]])
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                   data=[[60, 35], [30, 12], [5.5, 1], [40, 20],
                         [25, 10], [4.5, 0.8], [320, 220],
                         [2, 0.8], [2.2, 0.2]])
df

                big  small
deer  speed    60.0   35.0
      weight   30.0   12.0
      length    5.5    1.0
dog   speed    40.0   20.0
      weight   25.0   10.0
      length    4.5    0.8
eagle speed   320.0  220.0
      weight    2.0    0.8
      length    2.2    0.2

In [78]:
# index -> row by label
df.drop(index='dog', columns='small')

                big
deer  speed    60.0
      weight   30.0
      length    5.5
eagle speed   320.0
      weight    2.0
      length    2.2

In [89]:
# dropping by levels (removing first level (=0) with the label)
df.drop(index='deer', level=0)

                big  small
dog   speed    40.0   20.0
      weight   25.0   10.0
      length    4.5    0.8
eagle speed   320.0  220.0
      weight    2.0    0.8
      length    2.2    0.2

In [ ]:
# dropping by levels (removing second level (=1) with the label)
df.drop(index='length', level=1)

In [90]:
df.to_csv('animal.csv')

In [91]:
df.to_excel('animal.xlsx')

In [92]:
df.to_csv('animal.txt', sep='\t')

Filtering Data

In [133]:
# using specific conditions: and -> &, or -> | to look for those items.
new = data.loc[(data['Lon'] == -73.9920) | (data['Lat'] == 40.7555)]
new.to_csv('filtered.csv', index=False)

# removing the old index
new.reset_index()
new.reset_index(drop=True, inplace=True)

# pulling out specific string values
data.loc[data['Base'].str.contains('B')]
data.loc[~data['Base'].str.contains('B')] # ~ not
data.loc[data['Base'].str.contains('b')] # lower case ignored.
import re
data.loc[data['Base'].str.contains('b', flags=re.I, regex=True)] # lower case ignored.

data.describe()

             Lat        Lon
count   9.000000   9.000000
mean   40.634067 -74.086967
std     0.176348   0.224572
min    40.304200 -74.661000
25%    40.688000 -74.009700
50%    40.715200 -73.991700
75%    40.728200 -73.991000
max    40.755500 -73.979400